.create-movie-main {
  height: 100vh;
  color: whitesmoke;
}

.create-movie-form input, label {
  margin: 5px 0;
}

.card-preview-box {
    align-items: center;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.card-preview {
  box-shadow: 8px 5px 5px black;
}

.card-preview-img {
  width: 150px;
}

.card-preview-footer {
  display: flex;
  justify-content: center;
}

.card-preview-footer button {
    margin: 0 25px;
}

.card-preview-alert {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card-preview-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-question-circle {
  font-size: 40px;
}

.card-preview-more-info {
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 9rem;
  font-size: 10px;
  font-style: italic;
  padding: 10px 10px;
  text-align: center;
}

.card-preview-more-info p {
  margin: 5px 0;
}