#root {
  background-color:  #11052c;
  height: 100vh;
  width: 100%;
}

.library-header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 10px 0;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-group h5 {
  font-size: 30px;
  margin: 0 10px;
}

.userMenu {
  width: 300px;
}

.user-card {
  align-items: center;
  background-color:  rgba(17, 5, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  width: 80%;
  margin: 0 20px;
}

.login-form input::placeholder {
  font-size: 12px;
}

.login-form-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.form-button-box {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.user-card footer {
  width: 100%;
}

.user-card img   {
  padding: 10px 0;
  border-radius: 100%;
}

.movie-card-group {
  background-color:  #11052c;
  display: flex;
  flex-wrap: wrap;
  height: 100%;  
  justify-content: space-evenly;
}

.movie-card {
  margin: 10px;
  text-decoration: none;
  width: 20%;
}

.movie-card img {
  width: 100%;
  height: 100%;
}

.movie-card-content {
  align-items: center;
  background-color: rgba(17, 5, 44, 0.644);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute; 
  text-align: center;
  width: 100%;
}

.movie-card a {
  text-decoration: none; 
}

.movie-card-content-data {
  color: rgb(207, 204, 204);
  text-shadow: 2px 2px rgb(59, 112, 9);
}

.card {
  border: 1px 1px rgb(83, 19, 231);
}

.new-movie-button-cont {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.spinner-box {
  align-items: center;
  color:rgb(207, 204, 204);
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-bottom: 20%;
} 